@using Microsoft.AspNetCore.Identity
@using NiTiAPI.Dapper.Models
@using NiTiAPI.WebErp.Extensions
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="@User.GetSpecificClaim("Avatar")" alt="">@User.GetSpecificClaim("FullName")
    <span class=" fa fa-angle-down"> </span>
</a>
<ul class="dropdown-menu dropdown-usermenu pull-right">
    <li><a href="javascript:;"> Chi tiết</a></li>
    <li>
        <a href="javascript:;">
            <span class="badge bg-red pull-right">50%</span>
            <span>Cấu hình</span>
        </a>
    </li>
    <li><a href="javascript:;">Trợ giúp</a></li>
    <li>
        <form action="/Admin" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Thoát</button>
        </form>
    </li>
</ul>
<li role="presentation" class="dropdown">
  
</li>
